<!DOCTYPE html>
<html>
 
    <head>
        <title>MY SERVER</title>

          <script src="weath.js"></script>

    </head>
 
    <body>
 
      <h1>MY SERVER</h1>

      <div id="weather-block"></div>
   
    </body>
</html>
 